.imageContainer,
.uploadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallButton {
  padding: 5px;
  min-width: 0;
  min-height: 0;
}

.uploadedImage {
  max-width: 500px;
  max-height: 500px;
}
